body
{
font-size : 16px;
height: 400px;
}

.container
{
    margin: 0 auto;
    color: #1339ca;
    font-family: sans-serif;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 60px;
}

